<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-content-center align-items-center">
	<div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
		<h1>Cache Animal Shelter</h1>
		<h2>Find your new best friend today!</h2>
		<a href="/pets" class="btn-get-started">Find a Pet</a>
	</div>
</section><!-- End Hero -->

<main id="main">

	<!-- ======= Features Section ======= -->
	<section id="features" class="features mt-5 mb-2">
		<div class="container mb-0" data-aos="fade-up">

			<div class="section-title mt-3">
				<h2>Explore Adoptable Pets</h2>
				<p>Popular Categories</p>
			</div>

			<div class="row justify-content-center">
				<div class="col-lg-3 col-md-5 mt-3">
					<div class="card shadow-sm border rounded hover-card">
						<div class="card-body p-4">
							<h2 class="text-center pt-2"><i class="align-end fas fa-cat fa-lg text-white">&nbsp;</i> <a class="text-white stretched-link" href="/pets?species=cat">Cats</a></h2>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-5 mt-3">
					<div class="card shadow-sm border rounded hover-card">
						<div class="card-body p-4">
							<h2 class="text-center pt-2"><i class="align-end fas fa-dog fa-lg text-white">&nbsp;</i> <a class="text-white stretched-link" href="/pets?species=dog">Dogs</a></h2>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-5 mt-3">
					<div class="card shadow-sm border rounded hover-card">
						<div class="card-body p-4">
							<h2 class="text-center pt-2"><i class="align-end fas fa-fish fa-lg text-white">&nbsp;</i> <a class="text-white stretched-link" href="/pets?species=fish">Fish</a></h2>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-5 mt-3">
					<div class="card shadow-sm border rounded hover-card">
						<div class="card-body p-4">
							<h2 class="text-center pt-2"><i class="align-end fas fa-dove fa-lg text-white">&nbsp;</i> <a class="text-white stretched-link" href="/pets?species=bird">Birds</a></h2>
						</div>
					</div>
				</div>
			</div>
		</section><!-- End Features Section -->

		<!-- ======= Popular Courses Section ======= -->
		<section id="popular-courses" class="courses">
			<div class="container"  data-aos="fade-up">

				<div class="section-title">
					<h2>Featured Adoptables</h2>
					<p>Longest Shelter Residents</p>
				</div>

				<div class="row">

					<% pets.slice(0, 3).forEach(pet => { %>
						<div class="col-lg-4 col-md-6 d-flex align-items-between">
							<div class="course-item">
								<a class="" href="/pets/<%= pet.id %>">
								<img src="<%= pet.image %>" class="img-fluid pet-card-img">
								<div class="course-content">
									<div class="d-flex justify-content-between align-items-center mb-0">
										<h2><strong><%= pet.name %></strong></h2>
										<p class="price">$<%= pet.price %></p>
									</div>
									<p><small><strong><%= pet.age %> year old <%= pet.gender %> <%= pet.breed %></strong></small></p>
									<p><%= pet.shortDescription %></p>
									<span class="badge badge-info bg-secondary"><%= pet.species %></span>
									<% if(pet.houseTrained) { %>
										<span class="badge badge-info bg-primary">Housetrained</span>
									<% } %>
								</div>
								</a>
							</div>
						</div>
					<% }); %>
			</div>
		</section><!-- End Popular Courses Section -->
	</main><!-- End #main -->

	<script>
		document.getElementById("layout-container").className = "";
		document.getElementById("layout-section").className = "";
	</script>
