
<h1>Listed Pets</h1>
<a class="btn" href="/pets/add-pet"><i class="fas fa-plus"></i> Add Pet</a>

<section id="popular-courses" class="courses">
	<div class="container" data-aos="fade-up">
		<div class="row" data-aos="zoom-in" data-aos-delay="100">
			<% if (!pets.length > 0) { %>
				<p class="lead">Sorry! There are no pets that match this description. See <a href="/pets">all pets</a> instead?</p>
			<% } %>
			<% pets.forEach(pet => { %>
				<div class="col-lg-4 col-md-6 d-flex align-items-between my-3">
					<div class="course-item shadow-sm">
						<a class="" href="/pets/<%= pet.id %>">
						<img src="<%= pet.image %>" class="img-fluid pet-card-img">
						<div class="course-content">
							<div class="d-flex justify-content-between align-items-center mb-0">
								<h2><strong><%= pet.name %></strong></h2>
								<p class="price">$<%= pet.price %></p>
							</div>
							<p><small><strong><%= pet.age %> year old <%= pet.gender %> <%= pet.breed %></strong></small></p>
							<p><%= pet.shortDescription %></p>
							<span class="badge badge-info bg-secondary"><%= pet.species %></span>
							<% if(pet.houseTrained) { %>
								<span class="badge badge-info bg-primary">Housetrained</span>
							<% } %>
						</div>
						</a>
					</div>
				</div>
			<% }); %>
		</div>
	</div>
</section>
