<h1>Pet Details</h1>
<section id="popular-courses" class="courses">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<img src="<%= pet.image %>" alt="<%= pet.name %>" class="w-100 h-100">
			</div>
			<div class="col-lg-6 col-md-6">
				<p><strong>Name:</strong> <%= pet.name %></p>
				<p><strong>Breed:</strong> <%= pet.breed %></p>
				<p><strong>Gender:</strong> <%= pet.gender %></p>
				<p><strong>Age:</strong> <%= pet.age %> Years</p>
				<p><strong>Weight:</strong> <%= pet.weight %>lbs</p>
				<p><strong>Adoption Price:</strong> $<%= pet.price %></p>
				<p><strong>Description:</strong> <%= pet.description %></p>
				<% if (loggedIn) { %>
					<form action="/pets/adopt/<%= pet.id %>/<%= currentUser._id %>" method="POST">
						<button class="btn" name="submit" type="submit">Adopt <%= pet.name %></button>
					</form>
				<% } else { %>
					<p>Please <a href="/users/login">Log In</a> to adopt this pet.</p>
				<% } %>
			</div>
		</div>
	</div>
</section>
