<h1>Discussion Board</h1>

<% for (discussion of discussions) { %>
    <div class="card">
        <h5>Posted by: <%= discussion.author %>, on <%= discussion.datePosted.toDateString() %></h5>
        <h6><%= discussion.preview %></h6>
        <h6>(<%= discussion.comments.length %> Comments)</h6>
        <a class="btn" href="/discussions/<%= discussion._id %>">Read Entire Post</a>
    </div>
<% } %>
