<h1>Discussion Board</h1>
<section id="popular-courses" class="courses">
	<% if (loggedIn) { %>
		<a class="btn mt-4" href="/discussions/new-discussion"><i class="fas fa-plus"></i> New Discussion</a>
	<% } else { %>
		<p>Please <a href="/users/login">log in</a> to make a new discussion post.</p>
	<% } %>
	<div class="container">
		<div class="row">
			<% for (discussion of discussions) { %>
				<div class="card my-3 shadow-sm">
					<div class="card-body">
						<div class="section-title mt-3 pb-0 mb-1">
							<h2>Posted by <%= discussion.author.firstName %> <%= discussion.author.lastName %> on <%= discussion.datePosted.toDateString() %></h2>
							<p><%= discussion.preview %></p>
						</div>
						<p class="mt-3 mb-2"><%= discussion.comments.length %> Comment(s) | <a class="stretched-link" href="/discussions/<%= discussion._id %>">Read Entire Post</a></p>
					</div>
				</div>
			<% } %>
		</div>
	</div>
</section>
