<h1>Posted by <%= discussion.author.firstName %> <%= discussion.author.lastName %>, on <%= discussion.datePosted.toDateString() %></h1>

<p class="lead"><%= discussion.description %></p>

<section id="popular-courses" class="courses pt-0">
	<div class="container">
		<!-- if logged in, be able to leave a comment -->
		<% if (loggedIn) { %>
			<div class="row mt-4">
				<div class="col-lg-6">
		    <form action="/discussions/<%= discussion._id %>/postComment" method="POST" class="php-email-form">
		        <input type="text" name="comment" class="form-control" id="comment" placeholder="Leave a comment here" required="">
		        <button class="btn my-3" name="submit" type="submit">Post Reply</button>
		    </form>
		</div>
	</div>
		<% } else { %>
		    <a href="/users/login"><h6>Log in to comment</h6></a>
		<% } %>


		<div class="row">
			<% for (comment of discussion.comments) { %>
				<div class="card my-3 shadow-sm">
					<div class="card-body">
						<div class="section-title mt-3 pb-0 mb-1">
							<h2>Reply by <%= comment.author.firstName %> <%= comment.author.lastName %>on <%= comment.date.toDateString() %></h2>
						</div>
						<p class="mt-3 mb-2"><%= comment.data %></p>
					</div>
				</div>
			<% } %>
		</div>
	</div>
</section>
