<h1>User Account</h1>
<p>Name: <%= currentUser.firstName %> <%= currentUser.lastName %></p>
<p>Email Address: <%= currentUser.email %></p>
<p>Pet Preference: <%= currentUser.petPreference %></p>
<p>Donations: $<%= currentUser.donations || 0 %></p>
